<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>jpa-board</title>

    <!-- CSS module -->
    <link href="/modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/modules/dataTable/css/datatables.min.css" rel="stylesheet">

    <!-- JS module -->
    <script src="/modules/jquery/jquery-3.7.0.min.js"></script>
    <script src="/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="/modules/dataTable/js/datatables.min.js"></script>
</head>